/* ===========================
   Lightbox
=========================== */

.lightbox{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.85);
    z-index:9999;
    justify-content:center;
    align-items:center;
    padding:30px;
}

.lightbox.show{
    display:flex;
}

#lightbox-image{
    max-width:90vw;
    max-height:90vh;
    object-fit:contain;
    border-radius:12px;
}

.lightbox-close{
    position:absolute;
    top:20px;
    right:30px;
    color:white;
    font-size:48px;
    cursor:pointer;
    user-select:none;
}
